.form {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 12px;

    input,
    select,
    button {
        padding: 6px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    button {
        background-color: #2ecc71;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: #27ae60;
    }
}

.resumen {
    margin-top: 15px;
    font-size: 1.1em;

    p {
        margin: 5px 0;
    }
}